* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  ::-webkit-scrollbar {
    display: none;
  }
  background-color: #0f0f0f;
}
.App {
  height: 100vh;
  width: 100vw;
  /* overflow-x: hidden; */
}

@font-face {
  font-family: "slimjoe";
  src: url("../Slim-Joe.ttf");
}
@font-face {
  font-family: "Square BT";
  src: url("../square721-bt-cufonfonts/SQR721B.TTF");
}
